In [7]:
import pandas as pd

In the graph that you will see below, you will be provided with all the data of Tesla, all the characteristics of their activities

In [8]:
df = pd.read_csv('tesla02.csv')

In [9]:
df

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11,Column12
0,Number of colown,30.06.2021,31.03.2021,31.12.2020,30.09.2020,31.12.2019,30.09.2019,30.06.2019,31.03.2019,31.12.2018,30.09.2018,30.06.2018
1,Gross profit,2 884 000 000 $,2 215 000 000 $,2 066 000 000 $,2 063 000 000 $,1 391 000 000 $,1 191 000 000 $,921 257 000 $,565 743 000 $,1 442 900 000 $,1 523 665 000 $,618 930 000 $
2,Cost price,9 074 000 000 $,8 174 000 000 $,8 678 000 000 $,6 708 000 000 $,5 993 000 000 $,5 112 000 000 $,5 428 279 000 $,3 975 721 000 $,5 782 973 000 $,5 300 748 000 $,3 383 301 000 $
3,Operating revenue,11 958 000 000 $,10 389 000 000 $,10 744 000 000 $,8 771 000 000 $,7 384 000 000 $,6 303 000 000 $,6 349 536 000 $,4 541 464 000 $,7 225 873 000 $,6 824 413 000 $,4 002 231 000 $
4,Operating income,0,0,0,0,7 384 000 000 $,6 303 000 000 $,6 349 536 000 $,4 541 464 000 $,7 225 873 000 $,6 824 413 000 $,4 002 231 000 $
5,Net income,1 312 000 000 $,594 000 000 $,575 000 000 $,766 000 000 $,347 000 000 $,261 000 000 $,-49 640 000 $,-478 360 000 $,419 151 000 $,442 941 000 $,-517 958 000 $
6,R&D expenses,1 142 000 000 $,438 000 000 $,270 000 000 $,331 000 000 $,105 000 000 $,143 000 000 $,-407 865 000 $,-702 135 000 $,139 483 000 $,311 516 000 $,-717 539 000 $
7,Operating expenses,576 000 000 $,666 000 000 $,522 000 000 $,366 000 000 $,345 000 000 $,334 000 000 $,323 826 000 $,340 174 000 $,356 297 000 $,350 848 000 $,386 129 000 $
8,Current assets,10 646 000 000 $,9 795 000 000 $,10 169 000 000 $,8 005 000 000 $,7 037 000 000 $,6 042 000 000 $,6 399 176 000 $,5 019 824 000 $,6 806 722 000 $,6 381 472 000 $,4 520 189 000 $
9,Total assets,24 693 000 000 $,24 705 000 000 $,26 717 000 000 $,21 744 000 000 $,12 103 000 000 $,10 940 000 000 $,10 181 952 000 $,7 677 822 000 $,8 306 308 000 $,7 920 491 000 $,6 699 797 000 $
10,Current cash,55 146 000 000 $,52 972 000 000 $,52 148 000 000 $,45 691 000 000 $,34 309 000 000 $,32 795 000 000 $,31 872 597 000 $,28 912 524 000 $,29 739 614 000 $,29 262 713 000 $,27 910 000 000 $
11,Current debt,16 229 000 000 $,17 141 000 000 $,19 384 000 000 $,14 531 000 000 $,6 268 000 000 $,5 338 000 000 $,4 954 740 000 $,2 198 169 000 $,3 685 618 000 $,2 967 504 000 $,2 236 424 000 $
12,Total amount of funds,0,0,0,0,10 667 000 000 $,10 146 000 000 $,9 588 773 000 $,9 242 800 000 $,9 992 136 000 $,9 775 324 000 $,9 141 362 000 $
13,Total debt,0,0,0,0,0,0,0,0,0,0,0
14,Debt ratio,0,0,0,0,26 199 000 000 $,25 313 000 000 $,24 722 136 000 $,22 874 618 000 $,23 426 010 000 $,23 409 144 000 $,22 642 887 000 $
15,Equity capital,0,0,0,0,76.36 %,77.19 %,77.57 %,79.12 %,78.77 %,80 %,81.13 %
16,Cash flow,24 804 000 000 $,23 017 000 000 $,22 225 000 000 $,16 031 000 000 $,6 618 000 000 $,6 040 000 000 $,5 715 393 000 $,4 605 596 000 $,4 923 243 000 $,4 508 838 000 $,3 906 421 000 $